<div>
  <app-map
    [loading]="(vm$ | async)!.loading"
    [loadedImage]="(vm$ | async)!.selectedItem"
    [currentExtent]="(vm$ | async)!.currentExtent"
    [mapSource]="(vm$ | async)!.mapSource"
    (drawEnd$)="onDrawEnd($event)"
  >
  </app-map>
  <div class="dataset-description">
    <div>Datasets reference:</div>
    <div *ngFor="let model of (vm$ | async)!.models">
      <a href="{{ model.datasetUrl }}">{{ model.displayName }}</a>
    </div>
  </div>
</div>
<div class="controls">
  <div class="button-wrapper" *ngIf="(vm$ | async)!.mapSource === 'OSM'">
    <label>Data provider:</label>
    <select (change)="onChangeDataProvider($event)">
      <option value="STAC">STAC</option>
      <option value="SentinelProcessingApi">Sentinel Processing API</option>
    </select>
  </div>

  <div class="button-wrapper">
    <label>Map source:</label>
    <select (change)="onChangeMapSource($event)">
      <option value="OSM">Open Street map</option>
      <option value="Aerial">Bing Aerial Map</option>
    </select>
  </div>

  <div class="button-wrapper">
    <label>Detection Model: </label>

    <select (change)="onDetection($event)">
      <option
        *ngFor="let model of (vm$ | async)!.models"
        [value]="model.modelName"
      >
        {{ model.detectionType }}: {{ model.displayName }} ({{
          model.epochsTrained
        }}
        epochs)
      </option>
    </select>
  </div>
  <button
    *ngIf="(vm$ | async)!.mapSource === 'Aerial'"
    (click)="onTakeScreenshot()"
  >
    Detect
  </button>

  <div>
    <form
      *ngIf="(vm$ | async)!.mapSource != 'Aerial'"
      [formGroup]="sentinelForm"
      class="control-group"
    >
      <div class="input-group">
        <label for="dateFrom">Date From:</label>
        <input type="date" id="dateFrom" formControlName="dateFrom" />
      </div>

      <div class="input-group">
        <label for="dateTo">Date To:</label>
        <input type="date" id="dateTo" formControlName="dateTo" />
      </div>

      <div class="input-group">
        <label for="cloudCoverage">Cloud Coverage:</label>
        <input
          type="number"
          id="cloudCoverage"
          formControlName="cloudCoverage"
        />
      </div>
    </form>
  </div>

  <div *ngIf="(vm$ | async)!.mapSource !== 'Aeriel'"></div>
  <app-items-preview
    [items]="(vm$ | async)!.items"
    (loadImage)="loadImageSTAC($event)"
  ></app-items-preview>
</div>
